.first {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 20px;
}
.navbar {
  width: 400px;
  display: flex;
  justify-content: right;
}
.logo {
  width: 70px;
  height: 30px;
  background-color: #fd8b08;
}
.home,
.shop,
.aboutus,
.cart {
  display: flex;
  background-color: bisque;
  border-radius: 7px;
  padding: 8px;
  text-decoration: none;
  color: palevioletred;
  border: 1px solid black;
  margin-left: 10px;
}
