.first {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 20px;
  background: #6d916f;
  width: 100%;
}
.navbar {
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: right;
}
.logo {
  width: 30px;
  height: 30px;
  width: 1512px;
  height: 982px;
  justify-content: center;
}
.home,
.shop,
.aboutus,
.cart {
  width: 180px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(76, 87, 76);
  border-radius: 20px;
  padding: 7px;
  text-decoration: none;
  color: rgb(223, 215, 218);
  border: 1px solid black;
  margin-left: 10px;
}
.search-bar {
  width: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 50px;
  border-radius: 50px;
  width: 400px;
  display: flex;
  float: right;
}
